# vim: ft=yaml shiftwidth=2 softtabstop=2 expandtab
---
history-file: history.json

language: en-us

debug: true

wallpaper-file-name: wallpaper

# can be one of "direct", "environment"(Linux Only), or a url of proxy server.
proxy: direct

daemon:
  # interval of two adjoined background refresh
  interval: 11

channels:
  - ng-photo-of-today

ng-photo-of-today:
  strategy: largest

bing:
  strategy: largest-no-logo

