# vim: ft=yaml shiftwidth=2 softtabstop=2 expandtab
---
history-file: history.json

language: en-us

debug: false

wallpaper-file-name: wallpaper

# can be one of "direct", "environment"(Linux Only), or a url of proxy server.
proxy: direct

daemon:
  # seconds to sleep between two adjoined background refresh
  interval: 3600

channels:
  - ng-photo-of-today
  - bing-wallpaper

ng-photo-of-today:
  strategy: largest

bing-wallpaper:
  strategy: largest-no-logo

